@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root{
    --cor-de-fundo: #624E88;
    --cor-primaria: #E6D9A2;
    --cor-secundaria: #CB80AB;
    --fonte: "Nunito Sans", sans-serif;
}